/* src/styles/navbar.module.css */

.navbar {
  background: linear-gradient(135deg, #454545, #1c1c1c);
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 1px;
  box-shadow:
    0 0 25px rgba(255, 204, 0, 0.8),
    0 0 15px rgba(0, 0, 0, 0.5);
  background-size: 400% 100%;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: #fff;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00;
  text-shadow: 0 0 15px rgba(255, 204, 0, 0.9);
  text-decoration: underline;
}
